.form-inner-wrapper {
    .request-success-wrapper {
        display: none;
    }

    .form-title {
        font-family: $font-title;
        font-weight: $font-medium;
        font-size: 2rem;
        letter-spacing: 0.02em;
        padding-bottom: 50px;

        @media screen {
            @media (max-width: 1199px) {
                text-align: center;
            }
        }
    }

    .form-default {
        // gap: 2.5rem;
        column-gap: 2.5rem;
        row-gap: 2rem;
        align-items: flex-end;

        @media screen {
            @media (max-width: 1399px) {
                column-gap: 2rem;
            }

            @media (max-width: 1199px) {
                @include flex-column;
                gap: 30px;

                .default-input-wrapper,
                .default-select-wrapper {
                    width: 100%;
                }
            }
        }
    }

    .form-btns {
        margin-left: auto;
        position: relative;

        @media screen {
            @media (max-width: 1199px) {
                @include flex-block;
                gap: 50px;
                margin: 0 auto;
                width: 100%;
                justify-content: center;
                margin-top: 20px;
            }

            @media (max-width: 767px) {
                @include flex-column;
                gap: 15px;
            }
        }

    }

    .btn-green.btn {
        border: none;
        outline: none;
        height: 52px;
        // line-height: 52px;

        @media screen {
            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }

    .btn-ellipse {
        margin-left: 5rem;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background: transparent;
        border: 1px solid $color-text-main;
        position: relative;

        @media screen {
            @media (max-width: 1599px) {
                margin-left: 2rem;
            }

            @media (max-width: 1366px) {
                margin-left: 1rem;
            }

            @media (max-width: 1199px) {
                margin-left: auto;
                margin-right: 20px;
            }
        }

        span {
            position: absolute;
            position: absolute;
            top: 50%;
            right: -20px;
            width: 90%;
            height: 1px;
            background: $color-text-main;
            animation: 3s linear 0s infinite normal none running btn-right;


            &:after {
                content: "";
                position: absolute;
                right: 0;
                width: 6px;
                height: 6px;
                border-top: 1px solid $color-text-main;
                border-right: 1px solid $color-text-main;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                top: -3px;
            }
        }
    }

    .btn-wa {
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;

        @media screen {
            @media (max-width: 1199px) {
                position: relative;
                width: auto;
                order: -1;
                margin-bottom: 0;
            }

            @media (max-width: 767px) {
                order: 1;
                width: 100%;
            }
        }

        &:hover {
            background: transparent;
        }

        img {
            margin: 0 auto;
        }
    }
}