.how-work {
    position: relative;

    @media screen {
        @media (max-width: 1199px) {
            padding-top: 0 !important;
        }
    }

    .img-wrapper {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        max-width: 25%;
        // height: 100%;
        // width: 25%;
        // border-radius: 45%;
        overflow: hidden;

        @media screen {
            @media (max-width: 1199px) {
                position: relative;
                width: 100%;
                max-width: none;
                top: auto;
                transform: none;
                margin-bottom: 80px;
            }
        }

        picture,
        img {
            // height: 100%;
            // object-fit: cover;
            // width: 100%;
            display: block;
        }
    }

    h2 {
        padding-bottom: 80px;

        @media screen {
            @media (max-width: 1199px) {
                padding-bottom: 50px;
            }

            @media (max-width: 767px) {
                text-align: center;
            }
        }
    }

    .list {
        @include flex-block;
        @include flex-column;
        gap: 1.2rem;

        @media screen {
            @media (max-width: 767px) {
                gap: 50px;
            }
        }

        li {
            gap: 1.5rem;
            align-items: center;

            @media screen {
                @media (max-width: 767px) {
                    @include flex-column;
                    gap: 20px;
                    align-items: center;

                    text-align: center;

                    hr {
                        display: none;
                    }
                }
            }

            span:first-child {
                @include flex-block;
                align-items: center;
                justify-content: center;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                background: #23223C;
                color: $color-text-green;
                font-family: $font-title;
                font-weight: $font-medium;
                font-size: 2rem;
                line-height: 120%;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                position: relative;
                padding-bottom: 1%;
                //display: block;


            }

            .divider {
                width: 9rem;
                // height: 1px;
                border: none;
                border-top: 2px dashed rgba($color-text-main, .6);
            }

            >span:last-child {
                flex: 1;
                position: relative;
                font-size: .8rem;
                line-height: 150%;
                letter-spacing: 0.01em;
                color: rgba($color-text-main, .8);

                @media screen {
                    @media (max-width: 767px) {
                        font-size: .8rem;
                    }
                }
            }
        }
    }

    .btn {
        margin-top: 3rem;

        @media screen {
            @media (max-width: 767px) {
                width: 100%;
                text-align: center;
            }
        }
    }
}