.slider-section {
    .w-big {
        margin-left: auto;
    }

    .pretitle {
        font-size: 1rem;
        line-height: 140%;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        font-family: $font-title;
        font-weight: 600;
        color: rgba($color-text-main, 0.25);
        padding-bottom: 10px;

        @media screen {
            @media (max-width: 1199px) {
                font-size: 1.3rem;
            }

            @media (max-width: 1199px) {
                font-size: 1.1rem;
                text-align: center;
            }
        }
    }

    h2 {
        color: rgba($color-text-main, 0.25);
        padding-bottom: 80px;

        @media screen {
            @media (max-width: 767px) {
                text-align: center;
                padding-bottom: 50px;
            }
        }

        span {
            color: $color-text-main;
        }
    }
}

.slider-outer {
    position: relative;

    @media screen {
        @media (max-width: 1199px) {
            padding-bottom: 60px;
        }
    }

    .img-bg {
        position: absolute;
        top: 30%;
        right: 25%;

        @media screen {
            @media (max-width: 1599px) {
                right: 27%;
            }

            @media (max-width: 1199px) {
                right: 0;
            }

            @media (max-width: 767px) {
                display: none;
            }
        }

    }

    .swiper-navigation {
        position: absolute;
        right: 3.5%;
        bottom: 15%;

        @media screen {
            @media (max-width: 1199px) {
                bottom: 0;
                left: 0;
                right: auto;
                // align-items: center;

                .swiper-pagination {
                    position: relative;
                }
            }

            @media (max-width: 767px) {
                left: 50%;
                transform: translateX(-50%);
                flex-wrap: nowrap;

                .swiper-pagination {
                    white-space: nowrap;
                }
            }
        }
    }

    .swiper-container {
        height: 35vw;

        @media screen {
            @media (max-width: 1199px) {
                width: 80%;
                height: 88vw;
                margin: 0;
            }

            @media (max-width: 767px) {
                width: calc(100% + 30px);
                height: 105vw;
                margin: 0 -15px;
                padding: 0 15px;
            }
        }
    }

    .swiper-wrapper {
        height: 100%;
    }

    .swiper-slide {
        height: 100%;
        @include bg-style;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .15);
        }

        &:nth-child(3n+1),
        &:nth-child(3n) {
            width: calc(25% - 4rem);
            height: 60%;
            margin-right: 4rem;

            @media screen {
                @media (max-width: 1599px) {
                    width: calc(28% - 3rem);
                    margin-right: 3rem;
                    height: 65%;
                }

                @media (max-width: 1199px) {
                    width: 100%;
                    height: 100%;
                    margin-right: 0;
                    border-radius: 5px;
                    overflow: hidden;
                }
            }

            .slide-text {
                padding: 0 1.2rem;
                padding-bottom: 1rem;
                bottom: 0;
                font-family: $font-title;
                font-weight: 600;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                font-size: 1.2rem;

                @media screen {
                    @media (max-width: 1199px) {
                        font-size: 3rem;
                        padding: 0 2rem;
                        padding-bottom: 2rem;

                    }

                    @media (max-width: 767px) {
                        font-size: 2rem;
                        padding: 0 1rem;
                        padding-bottom: 1rem;

                    }
                }
            }
        }

        &:nth-child(3n+2) {
            width: calc(50% - 8rem);
            margin-right: 12rem;

            @media screen {
                @media (max-width: 1599px) {
                    width: calc(44% - 6rem);
                    margin-right: 9rem;
                }

                @media (max-width: 1199px) {
                    width: 100%;
                    height: 100%;
                    margin-right: 0;
                    border-radius: 5px;
                    overflow: hidden;
                }
            }

            // margin-right: 12.4rem;
            .slide-text {
                // left: 2rem;
                padding: 0 1.5rem;
                padding-bottom: 1.7rem;
                bottom: 0;
                font-family: $font-title;
                font-weight: 600;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                font-size: 2rem;

                @media screen {
                    @media (max-width: 1199px) {
                        font-size: 3rem;
                        padding: 0 2rem;
                        padding-bottom: 2rem;

                    }

                    @media (max-width: 767px) {
                        font-size: 2rem;
                        padding: 0 1rem;
                        padding-bottom: 1rem;

                    }
                }
            }
        }

        &:last-child {
            margin-right: 0;
        }

        .slide-text {
            position: absolute;
            color: $color-text-main;
            width: 100%;

            // @media screen {
            //     @media (max-width: 767px) {
            //         height: 25vw;

            //     }
            // }
        }
    }
}